.link {
  padding: 2em 1em;
  border-bottom: 1px solid #e9e9e9;
}

.link__title {
  color: #FF4500;
}

.comment {
  padding: 1em 0;
  border-top: 1px solid #e9e9e9;
}

.comment__lead {
  margin-bottom: 0;
}

.comment__title {
  color: #FF4500;
}
